#file-label {
      display: inline-flex;
      vertical-align: middle;
      font-size: 12px;
      line-height: 18px;
}

#file-label mat-icon {
      font-size: 18px;
      text-align: center;
}

#file-label a {
      cursor: pointer;
}

.uploadfilecontainer {
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: center;
      height: 100px;
      width: 30%;
      margin: 20px auto;
      border: 2px dashed #ff4336;
      background-color: white !important;
      border-radius: 10px;
}
    
.uploadfilecontainer:hover {
      cursor: pointer;
      background-color: #ffefef !important;
      opacity: 0.8;
}