<h2 mat-dialog-title>Edit Text Block</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <p>
        Description
    </p>
    <quill-editor [style]="editorStyle" [modules]="modules" formControlName="description"></quill-editor>
</mat-dialog-content>

<mat-dialog-actions>
    <button (click)="close()" mat-raised-button class="dialog-button">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>