<h2 mat-dialog-title>Edit Text Block</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <p>
        Description
    </p>
    <quill-editor [style]="editorStyle" (onContentChanged)="saveText($event)" [modules]="modules"
        formControlName="description"></quill-editor>

    <ng-container *ngFor="let image of images">
        <picture>
            <source media='(min-width:0px)' srcset="{{image}}">
            <img mat-card-image src="" alt="Photo of a Shiba Inu">
        </picture>
    </ng-container>
    <div style="text-align:center">
        <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button (click)="close()" mat-raised-button class="dialog-button">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>